body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  background: lightblue;
}
#cityInput{
 border-radius:10px;
 height:25px;
}
button{
  border-radius:20px;
  margin-left: 30px;
  height:30px;
  background: blueviolet;
  color:beige;
}
#weatherData, #dailyData{
  margin-top: 20px;
  padding: 10px;
  display:none;
  background: lightgray;
  border-radius: 8px;          
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
 max-width: 400px;            
 margin-left: auto;          
 margin-right: auto;          
 text-align: center; 
}
#weeklyForecast{
  padding-bottom:30px;
  display:flex;
  gap:30px;
}
#weeklyData{
  margin-top: 20px;
  padding: 10px;
  display:none;
  background: lightblue;
  border-radius: 8px;          
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.forecast-item {
padding: 10px 1px;
width: 180px;
text-align: center;
display:flex;
flex-direction: column;
row-gap:20px;

}
.forecast-temp{
display: flex;
flex-direction: column;
gap: 5px; 
}